html {
    margin: 0;
    padding: 0;
}
/*----------------------header-----------------------------*/
.nav {

}
.ul {
    display: flex;
    list-style: none;
   
}
.li {
  

}
.li a {
    text-decoration: none;
    padding-right: 30px;
    
.li a:hover {
    cursor: pointer;
}
}
/*----------------------contacts---------------------------*/
.inner_contacts {
    display: flex ;
    flex-direction: row;
}
/*----------------------footer-----------------------------*/
.wrap_footer {
    display: flex;
    flex-direction: column;
}
